.data{
    padding-top: 25px;
}

.container { 
   width : 300px !important; 
   height: 300px !important;
}

@media only screen and (max-width: 400px) {
   .container { 
      width : 250px !important; 
      height: 250px !important;
      padding-bottom: 20px;
   }
 }