.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.container-1{
  padding: 70px;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.container{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Media query for full screen carousel */
@media only screen and (min-width: 600px) {

  .btn-small{
    display: none;
  }
  
}

nav ul a {
  color: #0060B6;
  text-decoration: none;
}

nav ul a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.dropdown1{
  min-width: 300 !important;
}
.first{
  padding-top: 25px;

}

#mob { 
  display: inline-block;
  margin-right: 3em;
}